html body {
  background: #ecf0f1;
}

.post_container {
  border: 1px solid #3097D1;
  padding: 15px;
}

.separator {
  border-color: #3097D1;
}

.margin20bottom {
  margin-bottom: 20px;
}

.margin20top {
  margin-top: 20px;
}

.question-box {
  border-bottom: 1px solid #3097D1;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.answerContainer,
#showFormAnswer {
  cursor: pointer;
}

.correctOne {
  color: #80d3ab;
  text-decoration: underline;
}

.voteContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post {
  background-color: #fff;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px #c9cccd;
          box-shadow: 0 1px 2px #c9cccd;
  margin-bottom: 20px;
}

.pull-left {
  float: left !important;
}

.post .wrap-ut {
  width: 85%;
}

.post .userinfo {
  width: 15%;
  padding: 20px 0 15px 15px;
}

.post .avatar {
  width: 37px;
  margin-left: 5px;
}

.avatar {
  position: relative;
}

.avatar img {
  border-radius: 50%;
}

img {
  vertical-align: middle;
}

img {
  border: 0;
}

.avatar .green {
  background-color: #80d3ab;
}

.avatar .status {
  position: absolute;
  right: 0;
  top: 0;
  width: 12px;
  height: 12px;
  line-height: 12px;
  border-radius: 50%;
  border: solid 2px #fff;
}

.post .posttext {
  width: 85%;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 15px;
  color: #989c9e;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  line-height: 25px;
}

.post .postinfo {
  width: 15%;
  border-left: solid 1px #f1f1f1;
}

.post .comments {
  border-bottom: solid 1px #f1f1f1;
  padding: 18px 0 25px 0;
  text-align: center;
}

.post .comments .commentbg {
  background-color: #bdc3c7;
  border-radius: 2px;
  display: inline-block;
  padding: 12px 17px;
  color: #fff;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  position: relative;
}

.post .comments .commentbg .mark {
  width: 11px;
  height: 11px;
  background-color: #bdc3c7;
  position: absolute;
  bottom: 0;
  left: 43%;
  margin-bottom: -5px;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.post .ranking {
  border-bottom: solid 1px #f1f1f1;
  color: #989c9e;
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  text-align: center;
  line-height: 29px;
}

.post .created_at {
  color: #989c9e;
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  text-align: center;
  line-height: 29px;
}

.post h2 {
  color: #363838;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}

.link {
  /*color: #363838;*/
}

p {
  margin: 0 0 10px;
}

.sidebarblock {
  background-color: #fff;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px #c9cccd;
          box-shadow: 0 1px 2px #c9cccd;
  margin-bottom: 20px;
}

.sidebarblock .divline {
  height: 1px;
  line-height: 1px;
  border-bottom: solid 1px #f1f1f1;
}

.sidebarblock .blocktxt {
  font-size: 14px;
  color: #363838;
  font-family: "Raleway", sans-serif;
  padding: 20px;
}

ul.tags {
  margin: 0;
  padding: 0;
}

ul.tags li {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
  line-height: 30px;
}

ul.tags li a {
  font-size: 14px;
  color: #363838;
  font-family: "Raleway", sans-serif;
  line-height: 30px;
}

.pull-right {
  float: right;
}

.beforepagination {
  margin-bottom: 0;
}

.postinfobot {
  border-top: solid 1px #f1f1f1;
  line-height: 50px;
  padding: 0 30px 0 94px;
}

.postinfobot .likeblock {
  width: 120px;
}

.up {
  color: #1abc9c;
  font-size: 12px;
}

.down {
  color: #db7a7a;
  font-size: 12px;
  margin-left: 20px;
}

.up i,
.down i {
  font-size: 20px;
  padding-right: 10px;
}

.postinfobot .prev a {
  font-size: 18px;
  color: #bdc3c7;
}

.reply {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.postinfobot .posted {
  width: 300px;
  margin-left: 18px;
  font-size: 12px;
  color: #bdc3c7;
  font-family: "Raleway", sans-serif;
}

.postinfobot .posted i {
  font-size: 18px;
  color: #bdc3c7;
  padding-right: 8px;
}

.sidebarblock h3 {
  color: #363838;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 20px;
}

.sidebarblock .divline {
  height: 1px;
  line-height: 1px;
  border-bottom: solid 1px #f1f1f1;
}

.sidebarblock .blocktxt {
  font-size: 14px;
  color: #363838;
  font-family: "Raleway", sans-serif;
}

.sidebarblock .blocktxt {
  padding: 20px;
}

.correctAnswer {
  color: #80d3ab;
}

.answer {
  margin-left: 20px;
}

.postinfobot .next {
  width: 90px;
  text-align: right;
}

.textwraper {
  background-color: #f1f1f1;
  border-radius: 2px;
  padding: 18px;
}

.postreply {
  font-size: 12px;
  color: #bdc3c7;
  display: block;
  font-family: "Raleway", sans-serif;
}

.textwraper textarea {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #f1f1f1;
  /* width: 610px; */
  width: 100%;
}

.btn-primary {
  background-color: #1abc9c;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 2px;
  padding: 10px 15px;
  color: #fff;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  border: none;
}

.avatar .red {
  background-color: #db7a7a;
}

#search_layer {
  background-color: white;
  border: 1px solid black;
  position: fixed;
}

#search_layer div {
  border-bottom: 1px solid black;
  max-height: 40px;
  overflow: hidden;
}

